
*{transition:all 0.4s ease-in-out;}


/* Body Settings */

body {
    
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: #9c9c9c;
    display: grid;
    size: auto;
    grid-template-areas:
    'header' 
    'main'
    'footer'
    ;
   }

  

   /* End of Body Settings */

   header, main, footer {
    background: white;
  }

header{grid-area: header;}
main{grid-area: main;}
footer{grid-area: footer;}

h1, h2, h3, h4, h5, h6 {
    font-family:'Syne', sans-serif ;
   }

header {
    position:relative;
   }

   nav {
    position:absolute;
    background: #010326;
    max-width: 100%;
    float: right;
   }

   nav, #menu-checkbox {
    display: none;
   }

   #menu-checkbox:checked ~ nav {
    display: block;
   }


   nav a {
    display: block;
    font-family:'Syne', sans-serif ;
    font-weight: 600;
    color: #efe9e9;
    padding: 10px 20px;
    
   }

   

   /* Games Grid Area */

.product-container {
    display: grid; 
    padding: 2rem; 
    gap: 2rm;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'game-title'
    'game-1'
    'game-2'
    'game-3'
    'game-4'
    'game-5'
    'game-6'
    ;
  }
  .product-container:nth-child(1) {
    grid-area: game-1;
  }
  .product-container:nth-child(2) {
    grid-area: game-2;
  }
  .product-container:nth-child(3) {
    grid-area: game-3;
  }
  .product-container:nth-child(4) {
    grid-area: game-4;
  }
  .product-container:nth-child(5) {
    grid-area: game-5;
  }
  .product-container:nth-child(6) {
    grid-area: game-6;
    padding: 10em;
  }

  

/* Start Media*/

   @media (min-width: 50em){
    nav {
        display: block;
        position: static;
    }
    .hamburger-icon {
        display: none;
       }

    
       nav a {
       display: inline-block;
       padding: 20px 20px;
       font-size: 19px;
       font-weight: 600;
       text-decoration: none;
       
       }

       nav a:hover {
        color: #F8133C;
        text-decoration: underline;
       }

       
.product-container { 
    grid-template-areas: 
    'game-title'
    'game-1 game-2 game-3 game-4 game 5 game-6'
;
} 

   }
   
/* End of Media */

   .logo {
    max-width: 120px;
    float: left;
   }

   .game-image {
    max-width: 120px;
    display: flex ;


   }

   .menu-container {
    clear: both;
    overflow: auto;
    background: #010326;
    padding: 10px;


   }

   .header-img {
    background: linear-gradient(
        #0103269a, #0103267b
    ), url(/images/mw2-beta-hero.jpg);
    width: auto;
    min-height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
   }