
*{transition:all 0.4s ease-in-out;}


/* Body Settings */

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
margin: 0px;
   }

   h1, h2, h3, h4, h5, h6 {
    font-family:'Syne', sans-serif ;
   }

   .headline {
    font-size: 3rem;
    color: #F2E203;



   }


  .btn {
    font-weight: 500;
    display: inline-block;
    padding: 1.70em 1em;
    color: #F2E203;
    border: 1px solid #F2E203;
    text-align: center;
    background-color: #F8133C;
  



  }

  .btn:hover {
    background-color: #010326;


  }

  a {
    color: #0F745D;
    text-decoration: none;
  }

  a:hover {
    color: #F8133C;
  }

   /* .menu-container {
    background-color: #010326;
     display: flex;
    padding: 20px;
    justify-content: space-between;
    position: relative;
   } */



.logo {
    
  max-width: 120px;
  padding: 20px;
  
    

  }

  .nav {

    padding: 1rem 1rem;
    background: #010326;
    width: max-content;
    

   }

   .nav, #menu-checkbox {
    display: none;
   }

   #menu-checkbox:checked ~ .nav {
    display: block;
   

   }

   .nav a {
    display: inline-block;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: aliceblue;

    }

    .nav a:hover {
     color: #F8133C;
     text-decoration: underline;
    }


  .hamburger-icon {
    background-color: aliceblue;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin-left: 20px;
    font-size: 23px;
    border-radius: 2px;
    cursor: pointer;
  }

  .hamburger-icon:hover {

    background-color: #F8133C;
  }


  header {
    position:relative;
    background: #010326;
   }

   .menu-container {
    display: flex;
    row-gap: 30px;
    place-items: center;
    justify-content: space-between;


    }


    .search {
     padding: 10px;
     border-radius: 5px;
     border: #e2e2e4 1px solid;
     color: #949494;


    }

    /* .border {
      padding-top: 100px;
      margin-top: 30px;


    } */


  .hero-img {
    background: linear-gradient(
        #0103269a, #0103267b
    ), url(/images/mw2-beta-hero.jpg);
    position: relative;
    background-position: center;
    width: auto;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
    border-top: #F2E203 1px solid;

   }

   .page-header {
    min-height: 200px;
   }

   .hero-text {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

   .bg-color {
    background: linear-gradient(
      #f2e203ce, #f2e203d2
  ), url(/images/javier-martinez-hUD0PUczwJQ-unsplash.jpg);
  position: relative;
  background-position: center;
  width: auto;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  border-bottom: whitesmoke 5px solid;

   }

   .hero-btn {
    border: 1px solid #F8133C;
    padding: 10px;
    border-radius: 8px;
    background-color: none;
    min-width: 150px;
    font-size: 18px;
   }

   .section {
    margin-top: 50px;


   }

   .flex {

    display: flex;
    align-items: center;
    flex-wrap: wrap;


   }

   .title {
    justify-content: flex-start;
  background-color: #010326;
  padding: 10px;
color: aliceblue;
max-width: 60%;
border-bottom: #F8133C;
border: 2px solid #F8133C;
border-top: none;
border-left: none;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
margin: 30px 0px 30px 0px;

   }

   .title h2 {
    padding-right: 30px;

   }
   .icon {
color: #F8133C;
font-size: 25px;


   }

   .grey {
    color: #696c753a;
   }


   .container {
    justify-content: center;
    padding: 4rem;
    gap: 1rem;
  }

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5%;
    position: relative;

  }

  .game-img {
    width: 150px;
    margin-bottom: -50px;

  }

  .disc-price {
    font-size: 2rem;
    color: #F2E203;
    margin-top: -50px;
    margin-bottom: 0px;


  }

  .full-price {
    color: aliceblue;
    text-decoration: line-through;
    margin-bottom: 0px;
    margin-top: 5px;

  }



 .price {
    background-color: #F8133C;
    border-radius: 10%;

  }

  .price:hover {
    background-color: #010326;
  }

  .sub-footer {
    /* justify-content: center;
    justify-content: space-around; */
    padding: 20px;
    padding-bottom: 40px;
    position: relative;
   background-color:#010326;
    color: aliceblue;
    min-height: 120px;
   }

.tags {
  gap: 10px;
   
   }

   .tag-btn {
    color:antiquewhite ;
    display: inline-block;
    text-align: center;
    border: 1px solid #F2E203;
    border-radius: 5px;
    padding:10px 20px 10px 20px;
    background-color: #0F745D;
   }

   .tag-btn:hover {
    background-color: #174f42;
    font-weight: 600;
   }

   .item {
    flex: 50%;
    max-width: 400px;

   }

   .row {

    display: flex;
    min-height: 400px;
    padding-left: 40px;
    padding-right: 40px;
    place-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
   
  }

  .newsletter {

    min-height: 300px;
    
  }

  .form {
    /* margin-left: 50px; */
    min-height: 50px;
    min-width: 300px;
    border-radius: 5px;
    background-color: #e2e2e4;
    margin-right: 30px;
    border: #949494 solid 1px;
    margin-bottom: 20px;
  
  }

  .form-btn {
    padding: 16px 50px;
    background-color: #F8133C;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
        
  }

  .contact-btn {

    display: flex;
    place-items:center;
    color: #010326;
    font-size: 18px;
   
  }

  .contact-btn h4 {

  padding-left: 10px;
  
  }

  .form-container {
    padding-left: 50px;
  }



  .c2a {

    display: flex;
    place-items: center;
    background-color: #F8133C;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
   
    
    
  }

  .highlight {

width: 300px
    
  }

  .highlight:nth-child(2) {
  
    border-left: #F2E203 solid 1px;
    border-right: #F2E203 solid 1px;
    padding-left: 10px;
    padding-right: 10px;
  }


  .footer {
    display: flex;
    place-items: center;
    align-items: flex-start;
    /* flex-flow: row wrap;	 */
    justify-content: center;
    flex-wrap: wrap;
    margin: 6px 0;
    min-height: 300px;
    background-color: #010326;
    color: #e2e2e4;
    padding-top: 40px;


  }

  

  .column {
    flex: 1;
   
    margin: 2px;
    padding: 10px;
   text-align: center;
  }

  .column .logo {

    max-width: 200px;
  }

  .column h3 {

    color: #F2E203;
  }

  ul {
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
    color: #e2e2e4;
  }

  ul a {

    color: #e2e2e4;
  }

  .img {

    max-width: 200px;
    margin-bottom: -30px;


   }

   .ft-img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;


   }

   .box {
    background-color: #F3F3F3F5;
    max-width: 400px;
    align-content: center;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: #F2E203 2px solid;

   }

   .success-txt {

    text-align: center;


   }

   .success-txt h1 {

    font-size: 50px;
    color: #169A7C;
    ;
   }



   /* MIN MEDIA START ---THIS is rules for my nav */

  @media (min-width: 600px){
    .nav {
        display: block;
        position: static;
    }
    .hamburger-icon {
        display: none;
       }


     

       /* .logo {
        max-width: 120px;
        margin-left: -80px;
        
       } */

      

       /* .column {
        width: 100%;
        flex-wrap: wrap;
      } */

      /* .menu-container {
        background-color: #010326;
         display: flex;
         flex-direction: row;
        padding: 20px;
        justify-content: space-between;
        position: relative;
       } */

      }

      /* MIN MEDIA ENDS */


      /* MAX MEDIA STARTS HERE ----rules for mobile */


    @media (max-width:600px){

      .nav {

        position: absolute;
        left: 60px;
        margin-top: 100px;
        z-index: 100;
        background-color: #0103267d;
      }

      .nav a {

        display: block;
        padding-bottom: 6px;
        color: whitesmoke;
        font-size: 16px;
        padding: 5px;
      }

     

     .footer {

      display: block;

     }

     /* .form-btn {
      margin-left: 50px;
     } */

     .search {
      display: none;


     }

     .menu-container {

      flex-direction: row-reverse;
     }

     .row {
      flex-direction: column;
      
    
    }

    .img {

      max-width: 250px;
    }

    .headline {

      font-size: 30px;
    }

    .title {

      max-width: 70%;


    }

    .c2a {

      display: flex;
      place-items: center;
    
      font-size: 20px;
  
      flex-direction: column;
     
      
      
    }
  
    .highlight {
  
  width: 80%
      
    }
  
    .highlight:nth-child(2) {
    
      border-top: #F2E203 solid 1px;
      border-bottom: #F2E203 solid 1px;
      border-left: none;
      border-right: none;
    }
  


  

  




    }

    /* MAX MEDIA ENDS HERE */



      /* #menu-checkbox:checked ~ .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 99;
        margin-top: 90px;
    
       } */

      

       

       /* .row {
        flex-direction: row;
        gap: 50px;
        margin-top:50px;
        margin-bottom: 50px;
       } */

      

  



  /*

  .card:first-child {
   background-color: none;

  }
  .card:nth-child(2){
    background-color: purple;
  } */

  /* .footer {
    background-color: #010326;
   } */

   /* End of Body Settings */





/* header {
    position:relative;
   }
*/
   /* nav {
    display: flex;
    position:absolute;
    background: #010326;
    float: right;
   }



   #menu-checkbox:checked ~ nav {
    display: block;
   }



   } */



   /* Games Grid Area */



/* Start Media*/








/* End of Media */

/* .game-image {
  max-width: 120px;

 }

   .menu-container {
    clear: both;
    overflow: auto;
    background: #010326;
    padding: 10px;

   } */

   /* .header-img {
    display: flex;
    background: linear-gradient(
        #0103269a, #0103267b
    ), url(/images/mw2-beta-hero.jpg);
    width: auto;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;

   } */
