
*{transition:all 0.4s ease-in-out;}


/* Body Settings */

body {
    font-family: 'Plus Jakarta Sans', sans-serif; 
    
   }

   h1, h2, h3, h4, h5, h6 {
    font-family:'Syne', sans-serif ;
   }
   
   .header {
    background-color: rgb(255, 255, 255);
   
    
  
   }

   .menu-container {
    background-color: #010326;
    display: flex;
    padding: 20px;
    justify-content: space-between;
   }

  

   .logo {
    max-width: 100px;
  
  }

  .nav {
    padding: 1rem 1rem;
    background: #010326;
    width: max-content;
   }

   



   .container {
    min-height: 200px;
    display: flex;
    gap: 1rem;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    
  }

  



   /* .sub-footer {
    display: flex;
    background-color: rgb(20, 51, 51);
   } */

   

  /* .card {
    background-color: #010326;
    color: #F8133C;
    
    min-width: 100px;
    
  }

  .card:first-child {
   background-color: none;
    
  }
  .card:nth-child(2){
    background-color: purple;
  } */

  /* .footer {
    background-color: #010326;
   } */

   /* End of Body Settings */

 
   nav, #menu-checkbox {
    display: none;
   }



/* header {
    position:relative;
   }
*/
   /* nav {
    display: flex;
    position:absolute;
    background: #010326;
    float: right;
   }

   nav, #menu-checkbox {
    display: none;
   }

   #menu-checkbox:checked ~ nav {
    display: block;
   }


   nav a {
    display: block;
    font-family:'Syne', sans-serif ;
    font-weight: 600;
    color: #efe9e9;
    padding: 10px 20px;
    
   } */

   

   /* Games Grid Area */

  

/* Start Media*/

  @media (min-width: 50em){
    nav {
        display: block;
        position: static;
    }
    .hamburger-icon {
        display: none;
       }

    
       .nav a {
       display: inline-block;
       padding: 20px 20px;
       font-size: 19px;
       font-weight: 600;
       text-decoration: none;
       color: aliceblue;
       
       }

       .nav a:hover {
        color: #F8133C;
        text-decoration: underline;
       }

       .logo {
        max-width: 120px;
        float: left;
       } 
      }
    
      
     

       
   
/* End of Media */

/* .game-image {
  max-width: 120px;

 }

   .menu-container {
    clear: both;
    overflow: auto;
    background: #010326;
    padding: 10px;

   } */

   /* .header-img {
    background: linear-gradient(
        #0103269a, #0103267b
    ), url(/images/mw2-beta-hero.jpg);
    width: auto;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
   } */
